.imageContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
@media (max-width:1024px) {
    .imageContainer {
        display: block;
        position: absolute;
        left:0;
        right:0;
        margin:0;
    }
}
.currentImage {
    width:auto;
    height:500px;
    opacity:0;
}
.visible {
    opacity:1;
    transition: opacity 1s;
}

@media (max-width: 600px) {
    .currentImage {
        width:100%;
        height:auto;
        margin:0;
        padding:0;
    }
}