* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
      box-sizing: border-box; 
  }
  
  table {
    border-collapse: separate;
    background:#fff;
   border-radius: 5px;
    margin:10px auto;
    box-shadow:(0px 0px 5px rgba(0,0,0,0.3));
    text-align: center;
  }
  
  thead {
    border-radius:5px;
  }

  thead th {
    
    font-size:16px;
    font-weight:400;
    color:#fff;
    text-shadow:(1px 1px 0px rgba(0,0,0,0.5));
    text-align:center;
    padding:10px;
    background-image:linear-gradient(#646f7f, #4a5564);
    border-top:1px solid #858d99;
    }
    thead th:first-child {
    border-top-left-radius:5px; 
    }
  
    thead th:last-child {
    border-top-right-radius:5px; 
    }
  
  tbody tr td {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color:#5f6062;
    font-size:13px;
    padding:20px 20px 20px 20px;
    border-bottom:1px solid #e0e0e0;
    
  }
  tbody tr:first-child td:first-child{
    color:gold;
    font-weight: bold;
  }
  tbody tr:nth-child(2) td:first-child{
    color:silver;
    font-weight: bold;
  }
  tbody tr:nth-child(3) td:first-child{
    color:brown;
    font-weight: bold;
  }
  
  tbody tr:nth-child(2n) {
    background:#f0f0f0;
  }
  
  tbody tr:last-child td {
    border-bottom:none;
  }
  tbody tr:first-child {
     border-bottom-left-radius:5px;
    }
    tbody tr:last-child {
    border-bottom-right-radius:5px;
    }
@keyframes scale-up {
  0% {transform: scale(0)}
  50% {transform: scale(1.08)  }
  100% {transform: scale(1) }
}